body {
    margin-left: 20px ;
}

.chat {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 16px;
    display:inline-block;
}

.msg {
    background-color: rgb(103, 173, 243);
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    
}
button {
    border-radius: 16px;
    border: 2px solid black;
    background-color:rgb(236, 62, 149);
    color: rgb(0, 0, 0);
}